<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alexandre.testapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PageAccueil"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LauncherGame"
            android:parentActivityName=".PageAccueil">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PageAccueil" />
        </activity>
        <activity
            android:name=".APropos"
            android:parentActivityName=".PageAccueil">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PageAccueil" />
        </activity>
        <activity
            android:name=".GameTapeLeClou"
            android:parentActivityName=".LauncherGame">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LauncherGame" />
        </activity>
        <activity
            android:name=".GameJoinTheCable"
            android:parentActivityName=".LauncherGame">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LauncherGame" />
        </activity>
        <activity
            android:name=".GameJeuDuNiveau"
            android:parentActivityName=".LauncherGame">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LauncherGame" />
        </activity>
        <activity
            android:name=".GameJeuDuHulk"
            android:parentActivityName=".LauncherGame">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LauncherGame" />
        </activity>
        <activity
            android:name=".GameMorse"
            android:parentActivityName=".LauncherGame">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LauncherGame" />
        </activity>
    </application>

</manifest>