<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alexandre.testapp">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EnterName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PageAccueil"
            android:parentActivityName=".EnterName">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EnterName" />
        </activity>
        <activity
            android:name=".LauncherGame"
            android:parentActivityName=".PageAccueil">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PageAccueil" />
        </activity>
        <activity
            android:name=".APropos"
            android:parentActivityName=".PageAccueil">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PageAccueil" />
        </activity>
        <activity
            android:name=".GameTapeLeClou"
            android:parentActivityName=".LauncherGame">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LauncherGame" />
        </activity>
        <activity
            android:name=".GameDrapeau"
            android:parentActivityName=".LauncherGame">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LauncherGame" />
        </activity>
        <activity
            android:name=".GamePeche"
            android:parentActivityName=".LauncherGame">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LauncherGame" />
        </activity>
        <activity
            android:name=".GameLumiere"
            android:parentActivityName=".LauncherGame">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LauncherGame" />
        </activity>
        <activity
            android:name=".GameMorse"
            android:parentActivityName=".LauncherGame">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LauncherGame" />
        </activity>
        <activity
            android:name=".QCMActivity"
            android:parentActivityName=".LauncherGame">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LauncherGame" />
        </activity>
        <activity
            android:name=".resultatActivity"
            android:parentActivityName=".LauncherGame">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QCMActivity" />
        </activity>
        <activity android:name=".suivantTouch" />
        <activity android:name=".suivantMvt"/>
        <activity android:name=".suivantChoixMono"
            android:parentActivityName=".PageAccueil"/>
    </application>

</manifest>